body {
    background: #000000;
}

a {
	background-color: #ffffff;
    opacity: 0.1;
}

a:hover {
    opacity: 0.2;
}

.log {
    font-family: "Courier";
    margin-top: 25px;
    margin-left: 10px;
    font-size: 10px;
    position: absolute;
    background: #000000;
    color: #ffffff;
    opacity:0.6;
    white-space:pre;
}

.preloader {
	width: 100%;
    font-family: "Courier";
    margin-top: 38%;
    font-size: 80px;
    position: absolute;
    color: #ffffff;
    opacity:0.8;
    white-space:pre;
    text-align:center;
    letter-spacing:20px;
}

.profiler {
	position:fixed;
    font-family: "Courier";
    margin-top: 10px;
    margin-left: 10px;
    font-size: 10px;
    color: #ffffff;
    opacity:0.8;
    white-space:pre;
    width:100px;
    background-color:#ff0000;
}


.error {
    font-family: "Courier";
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    position: absolute;
    color: #ff5050;
    opacity:0.8;
    white-space:pre;
    text-align:left;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}